@font-face {
	font-family: OpenSans;
	src:
		local("OpenSans Light"),
		local("OpenSans-Light"),
		url("../../fonts/OpenSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: OpenSans;
	src:
		local("OpenSans Regular"),
		local("OpenSans-Regular"),
		url("../../fonts/OpenSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: OpenSans;
	src:
		local("OpenSans Medium"),
		local("OpenSans-Medium"),
		url("../../fonts/OpenSans-Medium.woff") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: OpenSans;
	src:
		local("OpenSans Semibold"),
		local("OpenSans-Semibold"),
		url("../../fonts/OpenSans-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: OpenSans;
	src:
		local("OpenSans Bold"),
		local("OpenSans-Bold"),
		url("../../fonts/OpenSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: NAMU;
	src:
		local("NAMU Black "),
		local("NAMU-Black "),
		url("../../fonts/NAMU-pro.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
