:root {
	/* шрифты  */
	--font-family: "Open Sans", sans-serif;
	--second-family: "NAMU", sans-serif;
	/* color */
	--main-color: #111;
	--secondary-color: #fff;
	--third--color: color: rgba(0, 0, 0, 0.2);
	/* container */

	--container-width: 1350px;
	--container-padding: 15px;
	/* transition: ; */
	--transition-time: 0.2s;
}
