.news__title {
	padding-bottom: clamp(30px, 1.318rem + 2.55vw, 70px);
}
.news__wrapper {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}
.news__wrapper-info-img {
	object-fit: contain;
}
.news__wrapper-info-date {
	display: inline-block;
	margin-block: clamp(10px, 0.346rem + 1.27vw, 30px)
		clamp(6px, 0.18rem + 0.89vw, 20px);
	font-family: var(--font-family);
	font-weight: 300;
	font-size: clamp(12px, 0.666rem + 0.38vw, 18px);
	line-height: 150%;
	color: var(--date-color);
}
.news__wrapper-info-title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: clamp(12px, 0.639rem + 0.51vw, 20px);
	line-height: 120%;
	color: #111;
}
.news__wrapper-info-text {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: clamp(10px, 0.514rem + 0.51vw, 18px);
	line-height: 150%;
	color: var(--main-color);
	padding-block: clamp(6px, 0.25rem + 0.57vw, 15px)
		clamp(6px, 0.18rem + 0.89vw, 20px);
}
@media (width <=600px) {
	.news__wrapper-info-text {
		line-height: 140%;
	}
	.news__wrapper-info-none {
		display: none;
	}
}

.news__wrapper-info-button {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(12px, 0.666rem + 0.38vw, 18px);
	color: var(--fourth-background);
	text-decoration: underline;
	text-underline-offset: 6px;
}
