.sizes__slider-wrapper {
	border: 2px solid var(--accent-color);
	border-radius: 12px;
	box-shadow:
		0 0 30px 5px var(--accent-glow-color),
		inset 0 0 30px 5px var(--accent-glow-color);
}
@media (width > 768px) {
	.sizes__slider-wrapper {
		padding-top: 46px;
		padding-bottom: 57px;
		margin-bottom: 60px;
	}
}
@media (width <= 768px) {
	.sizes__slider-wrapper {
		padding-block: 50px;
		margin-bottom: 40px;
	}
}
.sizes__slider-button {
	width: 40px;
	height: 40px;
	color: var(--main-color);
}
.sizes__slider-button-icon {
	stroke: currentColor;
}
.sizes__slide-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
