body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

fieldset {
	width: 400px;
	border: 2px solid #000;
	border-radius: 5px;
	padding: 30px 0 30px 40px;
	margin: 0 auto;
}
h1 {
	font-weight: 700;
	font-size: 20px;
}
label {
	display: block;
	margin: 5px 0 5px;
	font-size: 18px;
}
input {
	border-radius: 5px;
	color: #000;
	padding: 5px 0 5px 5px;
}
input::placeholder {
	font-size: 10px;
}
input:focus-visible,
textarea:focus-visible,
.checkbox:focus-visible::after,
.button:focus-visible {
	outline: 2px solid aquamarine;
	outline-offset: 0.5px;
}
textarea {
	border-radius: 5px;
	width: 306px;
	resize: vertical;
	max-height: 200px;
	padding: 10px 0 0 10px;
}
.width {
	width: 300px;
}
.button {
	border-radius: 5px;
	border-color: aquamarine;
	cursor: pointer;
	padding: 8px 16px;
	font-size: 14px;
	margin-top: 20px;
	transition: transform 0.2s;
}
.checkbox-label {
	padding-left: 22px;
}
.checkbox {
	appearance: none;

	cursor: pointer;
	/* accent-color: aquamarine; */
}
.checkbox::after {
	content: "";
	margin-left: -22px;
	margin-top: -15px;
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #333;
	border-radius: 4px;
}
.checkbox:checked::after {
	background: url("../images/check-icon.svg") no-repeat center aquamarine;
}

.button:hover {
	transform: scale(1.1);
}

.button:active {
	opacity: 0.5;
}
