.characteristics__video {
	position: relative;
}
@media (width > 576px) {
	.characteristics__video {
		margin-bottom: 60px;
	}
}
@media (width <= 576px) {
	.characteristics__video {
		margin-bottom: 40px;
	}
}
.characteristics__video-preview {
	overflow: hidden;
	border: 1px solid var(--main-color);
	border-radius: 12px;
}
.characteristics__video-play-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #2a2a2980;

	border-radius: 50%;
	border: 1px solid var(--main-color);
	-webkit-box-shadow:
		var(--shadow-glow),
		inset var(--shadow-glow);
	box-shadow:
		var(--shadow-glow),
		inset var(--shadow-glow);
	-webkit-transition:
		border-color var(--transition-time),
		-webkit-box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		-webkit-box-shadow var(--transition-time);
	-o-transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time),
		-webkit-box-shadow var(--transition-time);
}

@media (any-hover: hover) {
	.characteristics__video-play-link:hover {
		border-color: var(--accent-color);
		-webkit-box-shadow:
			var(--shadow-accent-glow),
			inset var(--shadow-accent-glow);
		box-shadow:
			var(--shadow-accent-glow),
			inset var(--shadow-accent-glow);
	}
}

@media (width >567px) {
	.characteristics__video-play-link {
		width: 80px;
		height: 80px;
	}
	.characteristics__video-play-icon {
		width: 17px;
		height: 24px;
	}
}
@media (width <= 567px) {
	.characteristics__video-play-link {
		width: 40px;
		height: 40px;
	}
	.characteristics__video-play-icon {
		width: 10px;
		height: 13px;
		-webkit-transform: translateX(1px);
		-ms-transform: translateX(1px);
		transform: translateX(1px);
	}
}
.characteristics__list {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
	gap: 40px 20px;
}
.characteristics__card-icon {
	margin-bottom: 4px;
	-webkit-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
	transform: translateX(-8px);
}

/* @media (width >567px) {
	.characteristics__card-icon {
		width: 56px;
	}
} */
@media (width <=567px) {
	.characteristics__card-icon {
		width: 48px;
		height: 48px;
	}
}
.characteristics__card-title {
	margin-bottom: 20px;
}
.characteristics__card-description {
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
	color: var(--main-color);
}
