table {
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 14px;
}
td,
th,
caption {
	border: 1px solid #000;
	padding: 5px;
	font-weight: 500;
}
.bold {
	border-bottom: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 20px;
}
/* caption {
	border-bottom: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
} */
tbody {
	border-left: 1px solid #000;
}

td {
	/* text-align: right; */
}

.one {
	border-left: 1px solid #000;
	text-align: right;
}
.red {
	color: red;
}
