/* .header__menu {
	position: absolute;
	top: 0;
	right: 0;
} */

@media (width < 992px) {
	/* .header__menu {
		position: absolute;
		top: 0;
		right: 0;
	} */
	.header__menu {
		display: none;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.header__burger span {
		background-color: var(--secondary-color);
		position: absolute;
		left: 0;
		top: 9px;
		width: 100%;
		height: 2px;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: var(--secondary-color);
		position: absolute;
		width: 100%;
		height: 2px;
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
}
