@media (width > 992px) {
	.burger {
		display: none;
	}
}
@media (width <= 992px) {
	.burger {
		/* position: relative; */
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		z-index: 2;
	}
	.burger__icon-menu,
	.burger--open .burger__icon-cross {
		display: block;
	}
	.burger__icon-cross,
	.burger--open .burger__icon-menu {
		display: none;
	}
}
