.connection {
	padding-bottom: clamp(45px, 3.762rem + 2.8vw, 111px);
	background: var(--third-background);
}
.connection__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (width <768px) {
	.connection__wrapper {
		flex-direction: column;
	}
}
.connection__wrapper-info-left {
	max-width: 555px;
	width: 100%;
	padding-right: 20px;
}
.connection__wrapper-info-left-title,
.connection__wrapper-info-right-title {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: clamp(20px, 0.943rem + 1.4vw, 42px);
	color: var(--main-color);
	margin-bottom: clamp(20px, 0.832rem + 1.91vw, 50px);
}
@media (width <768px) {
	.connection__wrapper-info-right-title {
		padding-top: 42px;
	}
}
.connection__wrapper-info-right {
	max-width: 555px;
	width: 100%;
}
.connection__wrapper-info-left-label {
	display: flex;
	flex-direction: column;
}
.connection__wrapper-info-left-label input {
	border: none;
	border-bottom: 1px solid var(--main-color);
}

.connection__wrapper-info-left-label input:first-child {
	padding-bottom: 15px;
}

.connection__wrapper-info-left-label input:last-child {
	padding-block: 30px 15px;
}
.connection__wrapper-info-left-btn {
	margin-top: clamp(36px, 1.776rem + 2.17vw, 70px);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(15px, 0.812rem + 0.57vw, 24px);
	color: var(--secondary-color);
	border-radius: 3px;
	background-color: var(--main-color);
	padding: clamp(10px, 0.555rem + 0.32vw, 15px)
		clamp(30px, 1.708rem + 0.76vw, 42px);
	transition: background-color var(--transition-time);
}
@media (any-hover: hover) {
	.connection__wrapper-info-left-btn:hover {
		background-color: var(--fourth-background);
	}
}
.connection__wrapper-info-right-btn {
	max-width: 244px;
}
.checkbox__label {
	padding-top: clamp(13px, 0.506rem + 1.4vw, 35px);
	display: flex;
	gap: 10px;
}
.checkbox__span span {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(10px, 0.541rem + 0.38vw, 16px);
	padding-left: clamp(10px, 0.541rem + 0.38vw, 16px);
	line-height: 120%;
	color: var(--main-color);
}
.checkbox {
	appearance: none;
	padding-right: 40px;
}
.checkbox__span {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(10px, 0.541rem + 0.38vw, 16px);
	line-height: 120%;
	color: var(--main-color);
}

.checkbox::after {
	content: "";
	position: absolute;
	border: 1px solid #111;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	z-index: 1;
}
.checkbox:checked {
	position: relative;
	background-image: url("../../images/checkbox-checket.svg");
	background-repeat: no-repeat;
	/* background-size: contain; */
	z-index: 2;
	/* object-fit: contain; */
	background-position: 7px 7px;
	z-index: 2;
	width: 17px;
	height: 20px;
}
@media (width <768px) {
	.checkbox::after {
		width: 19px;
		height: 19px;
	}
	.checkbox:checked {
		background-position: 1.5px 4px;
	}
}
input {
	background-color: var(--third-background);
}
input::placeholder {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(12px, 0.666rem + 0.38vw, 18px);
	color: #ababab;
}
