.faq {
	padding-bottom: clamp(46px, 1.426rem + 6.62vw, 150px);
	background: var(--third-background);
}
summary {
	list-style: none;
	cursor: pointer;
}

summary::-webkit-details-marker {
	list-style: none;
}
summary::after {
	content: "";
	width: 36px;
	height: 36px;
	display: inline-block;
	background: url("../../icons/сross-icon.svg") no-repeat center;
	background-size: contain;
}
details[open] summary::after {
	background: url("../../icons/red-сross-icon.svg") no-repeat center;
	width: 36px;
	height: 36px;
	background-size: contain;
}
details {
	border-bottom: 1px solid #ababab;
}
.faq__details-top-border {
	border-top: 1px solid #ababab;
}
.faq__title {
	padding-bottom: clamp(38px, 2.103rem + 1.32vw, 59px);
}
.faq__summary-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(13px, 0.722rem + 0.44vw, 20px);
	line-height: 150%;
	color: var(--main-color);
	padding-block: clamp(16px, 0.767rem + 1.13vw, 34px);
}
.faq__summary-text {
	padding-block: clamp(7px, 0.321rem + 0.57vw, 16px)
		clamp(20px, 0.861rem + 1.89vw, 50px);
	font-family: var(--font-family);
	font-weight: 300;
	font-size: clamp(11px, 0.597rem + 0.44vw, 18px);
	line-height: 150%;
	color: var(--main-color);
}
.faq__details-top--border {
	border-top: 1px solid #ababab;
}
@media (width < 1000px) {
	.faq__title span {
		display: none;
	}
}

@media (width <=768px) {
	summary::after {
		min-width: 26px;
		min-height: 26px;
	}
	details[open] summary::after {
		min-width: 26px;
		min-height: 26px;
	}
	.faq__summary-title {
		max-width: 302px;
		gap: 30px;
	}
}
