.product-card-content {
	box-shadow: 0 4px 41px 0 rgba(4, 4, 4, 0.05);
}
.product-card {
	padding-top: 150px;
}
.product-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
	gap: 20px;
}
.product-card-title {
	font-size: 30px;
	font-family: var(--second-family);
	font-weight: 900;
	color: var(--main-color);
}
.product-card-text {
	padding-block: 11px 30px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 24px;
	color: var(--main-color);
	display: flex;
}
.product-card-text::after {
	content: "";
	position: relative;
	top: 7px;
	left: 20px;
	background-image: url("../../icons/product-card-stroke.svg");
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 24px;
	height: 24px;
}
.inner__wrapper {
	padding-top: 19px;
	padding-left: 40px;
}
.inner__wrapper:hover,
.product-card-title:hover,
.product-card-text:hover {
	background-color: var(--main-color);
	color: var(--secondary-color);
}
