html a {
	border: none;
}
.container {
	max-width: 1300px;
	border-bottom: 1px solid #888686;
	margin: 0 auto;
	padding: 30px 30px;
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.black-square {
	width: 60px;
	height: 60px;
	background-color: black;
}
.navn,
a {
	font-family: sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: 600;
}
.links {
	padding: 0 15px;
	cursor: pointer;
}
.tel-flex a:focus {
	border: none;
}
