.header {
	background-color: var(--main-color);
	color: var(--secondary-color);
	position: relative;
}

.header .container {
	overflow: visible;
}
.header__logo-img {
	object-fit: contain;
}
.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 0 6px 0;
	position: relative;
}
.header__menu-list {
	cursor: pointer;
	display: flex;
	gap: 30px;
	font-family: var(--second-family);
	font-weight: 900;
	font-size: 20px;
}
.header__menu-item {
	transform: color var(--transition-time);
}
@media (any-hover: hover) {
	.header__menu-item:hover {
		color: #ababab;
	}
}

.header__actions-content {
	display: flex;
	gap: 20px;
}

@media (width > 1300px) {
	.header__menu-list {
		font-size: 20px;
	}
}
@media (width <= 1300px) {
	.header__menu-list {
		font-size: 14px;
	}
}
