/* base */
@import "./base/normalize.css";
@import "./base/fonts.css";
@import "./base/vars.css";
@import "./base/globals.css";

/* blocks */
@import "./blocks/header.css";
@import "./blocks/burger.css";
@import "./blocks/technologies.css";
@import "./blocks/product.css";
@import "./blocks/expert-opinion.css";
@import "./blocks/choose.css";
@import "./blocks/special-offer.css";
@import "./blocks/reviews.css";
@import "./blocks/faq.css";
@import "./blocks/news.css";
@import "./blocks/connection.css";
@import "./blocks/footer.css";
